<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <fa-icon [icon]="faHome"></fa-icon>
      ng2-ya-table
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Examples</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Documentation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/vitocmpl/ng2-ya-table">View on GitHub</a>
      </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h3>Live Demo</h3>
  <ng2-ya-table [options]="options" [columns]="columns" [datasource]="datasource" [paging]="paging">
    <ng-template ng2YaTableCellTemplate="btnEdit" let-data='data' let-row='row'>
      <div class='text-center'>
        <button type='button' class='btn btn-sm btn-primary' (click)="onActionClick(row.id)">
          <fa-icon [icon]="faEdit"></fa-icon>
        </button>
      </div>
    </ng-template>
    <ng-template ng2YaTableCellTemplate="btnDelete" let-data='data' let-row='row'>
      <div class='text-center'>
        <button type='button' class='btn btn-sm btn-danger' (click)="onActionClick(row.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </div>
    </ng-template>
  </ng2-ya-table>
</div>

