<nav *ngIf="isGitHubPages()" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
        <ul class="nav navbar-nav">
          <li>
              <a>Examples</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li>
              <a>Documentation</a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li>
              <a target="_blank" href="https://github.com/vitocmpl/ng2-ya-table">View on GitHub</a>
          </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
  <div class="page-header">
    <h3>Live Demo</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ng2-ya-table [options]="options" [columns]="columns" [datasource]="datasource" [paging]="paging">
      </ng2-ya-table>
    </div>
  </div>
</div>

